In [27]:
pwd

u'C:\\Users\\lhan3\\Desktop\\WCAI'

In [28]:
cd C:\Users\lhan3\Desktop\WCAI

C:\Users\lhan3\Desktop\WCAI

In [30]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pickle

creating a Data Frame that contains Sum of each day, transactions count

In [31]:
# import dataset as an array
chiarray=np.genfromtxt('chi2.csv', delimiter=",", names=True,dtype=None, usecols=(1, -1))

In [32]:
len(chiarray)# number of rows (i.e. transactions)

7884150

In [33]:
dates=np.unique(chiarray['date']) #create an array that includes each day in the target timeframe 
dates

array(['01/01/2015', '01/02/2015', '01/03/2015', '01/04/2015',
       '01/05/2015', '01/06/2015', '01/07/2015', '01/08/2015',
       '01/09/2015', '01/10/2015', '01/11/2015', '01/12/2015',
       '01/13/2015', '01/14/2015', '01/15/2015', '01/16/2015',
       '01/17/2015', '01/18/2015', '01/19/2015', '01/20/2015',
       '01/21/2015', '01/22/2015', '01/23/2015', '01/24/2015',
       '01/25/2015', '01/26/2015', '01/27/2015', '01/28/2015',
       '01/29/2015', '01/30/2015', '01/31/2015', '02/01/2015',
       '02/02/2015', '02/03/2015', '02/04/2015', '02/05/2015',
       '02/06/2015', '02/07/2015', '02/08/2015', '02/09/2015',
       '02/10/2015', '02/11/2015', '02/12/2015', '02/13/2015',
       '02/14/2015', '02/15/2015', '02/16/2015', '02/17/2015',
       '02/18/2015', '02/19/2015', '02/20/2015', '02/21/2015',
       '02/22/2015', '02/23/2015', '02/24/2015', '02/25/2015',
       '02/26/2015', '02/27/2015', '02/28/2015', '03/01/2015',
       '03/02/2015', '03/03/2015', '03/04/2015', '03/05/2015',
       '03/06/2015', '03/07/2015', '03/08/2015', '03/09/2015',
       '03/10/2015', '03/11/2015', '03/12/2015', '03/13/2015',
       '03/14/2015', '03/15/2015', '03/16/2015', '03/17/2015',
       '03/18/2015', '03/19/2015', '03/20/2015', '03/21/2015',
       '03/22/2015', '03/23/2015', '03/24/2015', '03/25/2015',
       '03/26/2015', '03/27/2015', '03/28/2015', '03/29/2015',
       '03/30/2015', '03/31/2015'],
      dtype='|S10')

In [34]:
# Create dictionary that will contain date:some# pairs (e.g. some# = # total trans for that day)
datesD={}
for i in range(len(chiarray)):
    if datesD.get(chiarray['date'][i],0)==0: 
        datesD[chiarray['date'][i]]=1
    else:
        datesD[chiarray['date'][i]]+=1

In [35]:
# Create dictionary data:summedValues (e.g. summedValues = total transaction amount for that day)

In [36]:
#go throgh all dates, and sum up the same date tax
'''
for i in range(len(chi)): 
    for j in range(len(dates)):
        if chi['date'][i]==dates[j]:
            df[0][j]+=chi['TaxAmount'][i]
            df[1][j]+=1
'''
#### think there should be a better way to do this

"\nfor i in range(len(chi)): \n    for j in range(len(dates)):\n        if chi['date'][i]==dates[j]:\n            df[0][j]+=chi['TaxAmount'][i]\n            df[1][j]+=1\n"

In [37]:
# Convert dictionary to dataframe so we can manipulate dates 
datesframe=pd.DataFrame(datesD.items(),columns=['Date','numTrans'])

In [38]:
# Convert date from string to datetime datatype
datesframe['Date']=pd.to_datetime(datesframe['Date'])

In [39]:
datesframe=datesframe.sort('Date')

In [40]:
datesframe.head(10)

         Date  numTrans
78 2015-01-01     37879
73 2015-01-02     76209
58 2015-01-03     55999
12 2015-01-04     42279
86 2015-01-05     68616
77 2015-01-06     66890
79 2015-01-07     58967
56 2015-01-08     60445
5  2015-01-09     71043
85 2015-01-10     57013

In [41]:
# Functions that do some type of calculation
'''
def aveTax(n, y): # create function that ask for n days, and the DF and spit out the average tax on n days
    x=sum(y[0:(n+1),0])/n
    print x
'''

'\ndef aveTax(n, y): # create function that ask for n days, and the DF and spit out the average tax on n days\n    x=sum(y[0:(n+1),0])/n\n    print x\n'

In [43]:
datesframe.to_csv('CHI2015numtrans.csv',index=False)