In [1]:
pwd

u'C:\\Users\\han'

In [2]:
cd C:\Users\han\Documents\WRDS_Drivers

C:\Users\han\Documents\WRDS_Drivers

In [3]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

creating a Data Frame that contains Sum of each day, transactions count

In [9]:
####test on the numpy reading pos chicago ordersale, 
chi=np.genfromtxt('CHI.csv', delimiter=",", names=True,dtype=None, usecols=(15, -1))
chi

array([(0.18, '01/01/2014'), (0.0, '01/01/2014'), (0.38, '01/01/2014'),
       ..., (0.52, '01/31/2014'), (1.0, '01/31/2014'), (0.46, '01/31/2014')],
      dtype=[('TaxAmount', '<f8'), ('date', 'S10')])

In [6]:
dates=np.unique(chi['date']) #create an array for each day
dates

array(['01/01/2014', '01/02/2014', '01/03/2014', '01/04/2014',
       '01/05/2014', '01/06/2014', '01/07/2014', '01/08/2014',
       '01/09/2014', '01/10/2014', '01/11/2014', '01/12/2014',
       '01/13/2014', '01/14/2014', '01/15/2014', '01/16/2014',
       '01/17/2014', '01/18/2014', '01/19/2014', '01/20/2014',
       '01/21/2014', '01/22/2014', '01/23/2014', '01/24/2014',
       '01/25/2014', '01/26/2014', '01/27/2014', '01/28/2014',
       '01/29/2014', '01/30/2014', '01/31/2014'],
      dtype='|S10')

In [8]:
df=np.zeros([2,len(dates)]) # create 2 * 31  data frame with all 0

In [12]:
#go throgh all dates, and sum up the same date tax
for i in range(len(chi)): 
    for j in range(len(dates)):
        if chi['date'][i]==dates[j]:
            df[0][j]+=chi['TaxAmount'][i]
            df[1][j]+=1
#### think there should be a better way to do this

In [14]:
jan=df.T

In [15]:
sum(chi['TaxAmount'][chi['date']=='01/01/2014']) #confriming to see if we get the right amount

2532.2999999999984

In [16]:
print(jan) # each row = date, first column: the sum of the tax for that day, 2nd column: total transaction for that day

[[  2532.3    4424.  ]
 [  6608.1   11409.  ]
 [  8379.23  13981.  ]
 [  7016.27  10943.  ]
 [  3539.9    5222.  ]
 [  3302.91   5252.  ]
 [  6831.66  11067.  ]
 [  8377.24  14390.  ]
 [  9107.97  15432.  ]
 [  9357.73  15942.  ]
 [  8491.24  13042.  ]
 [  6715.95   9945.  ]
 [  9203.38  16176.  ]
 [  8484.48  14871.  ]
 [  9135.86  15976.  ]
 [  9595.03  16614.  ]
 [  9742.81  16728.  ]
 [  7731.05  11946.  ]
 [  6428.41   9662.  ]
 [  8671.21  14721.  ]
 [  7857.94  13765.  ]
 [  8433.2   14811.  ]
 [  8846.73  15289.  ]
 [  9258.73  15760.  ]
 [  7980.35  12248.  ]
 [  6118.68   9208.  ]
 [  6493.34  11098.  ]
 [  7217.95  12234.  ]
 [  9619.88  16916.  ]
 [ 10158.99  17647.  ]
 [ 11393.97  19711.  ]]

In [21]:
def pred(n, y): # create function that ask for n days, and the DF and spit out the average tax on n days
    x=sum(y[0:(n+1),0])/n
    print x

In [23]:
x=pred(3,jan)

8178.63333333

In [26]:
sum(jan[0:4,0])/3

8178.6333333333823