In [1]:
pwd

u'C:\\Anaconda2'

In [2]:
cd C:\Users\lhan3\Desktop\WCAI

C:\Users\lhan3\Desktop\WCAI

In [4]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [15]:
dateparse=lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')
data=pd.read_csv('CHI2015numtrans.csv', parse_dates='Date', index_col='Date', date_parser=dateparse)

In [16]:
data.head()

            numTrans
Date
2015-01-01     37879
2015-01-02     76209
2015-01-03     55999
2015-01-04     42279
2015-01-05     68616

In [17]:
data.dtypes

numTrans    int64
dtype: object

In [18]:
data.index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-17', '2015-01-18', '2015-01-19', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-24',
               '2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31', '2015-02-01',
               '2015-02-02', '2015-02-03', '2015-02-04', '2015-02-05',
               '2015-02-06', '2015-02-07', '2015-02-08', '2015-02-09',
               '2015-02-10', '2015-02-11', '2015-02-12', '2015-02-13',
               '2015-02-14', '2015-02-15', '2015-02-16', '2015-02-17',
               '2015-02-18', '2015-02-19', '2015-02-20', '2015-02-21',
               '2015-02-22', '2015-02-23', '2015-02-24', '2015-02-25',
               '2015-02-26', '2015-02-27', '2015-02-28', '2015-03-01',
               '2015-03-02', '2015-03-03', '2015-03-04', '2015-03-05',
               '2015-03-06', '2015-03-07', '2015-03-08', '2015-03-09',
               '2015-03-10', '2015-03-11', '2015-03-12', '2015-03-13',
               '2015-03-14', '2015-03-15', '2015-03-16', '2015-03-17',
               '2015-03-18', '2015-03-19', '2015-03-20', '2015-03-21',
               '2015-03-22', '2015-03-23', '2015-03-24', '2015-03-25',
               '2015-03-26', '2015-03-27', '2015-03-28', '2015-03-29',
               '2015-03-30', '2015-03-31'],
              dtype='datetime64[ns]', name=u'Date', freq=None, tz=None)